body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    z-index: 1000; /* Ensure the header stays on top */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added box-shadow */
}

.logo {
    font-family: 'Billabong', cursive;
    font-size: 36px; /* Adjust the size as needed */
    color: black; /* You can change the color if you like */
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 50px;
    top: 2.2vh;
}

.search-icon {
    position: relative;
    color: black;
}

.search-icon .material-icons {
    font-size: 30px;
    cursor: pointer;
}

.search-bar {
    opacity: 0; /* Changed from display: none */
    visibility: hidden; /* Added visibility */
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px;
    font-size: 16px;
    transition: opacity 0.3s, visibility 0.3s; /* Added transition */
}

.search-icon:hover .search-bar {
    opacity: 1; /* Changed from display: block */
    visibility: visible; /* Added visibility */
}

.message-icon svg path {
    fill: black;
}

.message-icon:hover svg path {
    fill: #cb33f5;
}

.profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.stories {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    background-color: #fff;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 70px;
    padding-top: 10px;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story {
    flex: 0 0 auto;
    margin-right: 10px;
    text-align: center;
    position: relative;
}

.story-lines {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    max-width: 134px;
}

.story-line {
    width: 10px;
    height: 2px;
    background-color: #ccc;
    margin: 0 2px;
    border-radius: 2px;
}

.story-line.active {
    background-color: #cb33f5;
}

.story-location {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
}

.story-media {
    width: 130px;
    height: 130px;
    border-radius: 45px;
    object-fit: cover;
    border: 2px solid #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.story-image-modal,
.story-video-modal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #fff;
}

.story-location-modal {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.profile-picture-modal {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    margin-right: 10px;
}

.close,
.options {
    position: absolute;
    top: 10px;
    color: #000;
    font-size: 28px;
    cursor: pointer;
}

.close {
    right: 50px;
}

.options {
    right: 10px;
    font-size: 24px;
}

.options-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.options-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.options-menu a:hover {
    background-color: #f4f4f4;
}

.options-menu .report {
    color: red;
}

.comment-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    color: #000;
}

.comment-bar input {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
}

.comment-bar .material-icons {
    cursor: pointer;
    margin-left: 10px;
    color: #000;
}

.progress-bar {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 5px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

.progress-segment {
    flex: 1;
    height: 100%;
    background-color: #ccc;
    margin: 0 2px;
    position: relative;
    border-radius: 10px;
}

.progress-segment.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #86dee4;
    animation: load 5s linear forwards 0.5s; /* Added delay */
    border-radius: 10px;
}

@keyframes load {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.bottom-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    list-style: none;
}

.bottom-nav li {
    flex: 1;
    text-align: center;
}

.bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #200E32;
}

.bottom-nav svg {
    width: 36px;
    height: 36px;
    fill: #200E32;
    transition: fill 0.3s ease;
}

.bottom-nav a:hover svg {
    fill: #cb33f5;
}

.bottom-nav .profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    transition: border-color 0.3s ease;
}

.bottom-nav a:hover .profile-picture {
    border-color: #cb33f5;
}
.post {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10upx;
}

.username {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: bold;
}

.slider-container {
    width: 100%;
    max-width: 540px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    aspect-ratio: 1 / 1;
}

.slider video {
    width: 100%;
    height: auto;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.post-left-icons {
    display: flex;
    gap: 10px;
}

.post-right-icon {
    margin-left: auto;
}

.post-icon {
    font-size: 24px; /* Adjust the size as needed */
}

.caption {
    padding: 10px;
    cursor: pointer;
}

.caption.collapsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post video {
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.post video::-webkit-media-controls {
    display: none !important;
}

.post video::-webkit-media-controls-enclosure {
    display: none !important;
}
